{% extends "base.html" %}

{% block content %}
<h1>Como agregar un nuevo Punto de Venta</h1>

<div id="content">
  <ol>
    <li>Loguearte en tu cuenta de Google Accounts. Si estás actualmente en Gmail ya estás logueado.</li>
    <li>Ingresar a la <a href="http://goo.gl/maps/Fmov">URL del mapa (http://goo.gl/maps/Fmov)</a></li>
    <a href="{{ MEDIA_URL }}img/add_point_doc/1.jpeg"><img src="{{ MEDIA_URL }}img/add_point_doc/thumbs/1.jpeg" /></a>
    <li>Hacer click en el botón editar.</li>
    <a href="{{ MEDIA_URL }}img/add_point_doc/2.jpeg"><img src="{{ MEDIA_URL }}img/add_point_doc/thumbs/2.jpeg" /></a>
    <a href="{{ MEDIA_URL }}img/add_point_doc/3.jpeg"><img src="{{ MEDIA_URL }}img/add_point_doc/thumbs/3.jpeg" /></a>
    <li>Seleccionar la opción para agregar un nuevo punto (marcador celeste).</li>
    <a href="{{ MEDIA_URL }}img/add_point_doc/4.jpeg"><img src="{{ MEDIA_URL }}img/add_point_doc/thumbs/4.jpeg" /></a>
    <li>Hacer click sobre el mapa en el lugar que se encuentra el Punto de Venta que queremos agregar.</li>
    <li>Ingresar un Nombre en el <b>Título</b> y la Dirección en la <b>Descripción</b> si es que los sabemos.</li>
    <a href="{{ MEDIA_URL }}img/add_point_doc/5.jpeg"><img src="{{ MEDIA_URL }}img/add_point_doc/thumbs/5.jpeg" /></a>
    <li>Podemos dejar ese ícono o bien seleccionar el de la tarjeta de colectivos que actualmente se está mostrando.</li>
    <li>Si queremos selecciona la tarjeta como ícono, debemos hacer click en el ícono que se muestra arriba a la derecha del
    diálogo y luego en la nueva ventana que aparece hacer click en <b>Añadir un icono</b></li>
    <a href="{{ MEDIA_URL }}img/add_point_doc/6.jpeg"><img src="{{ MEDIA_URL }}img/add_point_doc/thumbs/6.jpeg" /></a>
    <a href="{{ MEDIA_URL }}img/add_point_doc/7.jpeg"><img src="{{ MEDIA_URL }}img/add_point_doc/thumbs/7.jpeg" /></a>
    <li>En esta ventanita que Google Maps nos muestra, debemos ingresar la dirección
    <a href="http://busstopped.appspot.com/static/img/gmarkers/bus_card.jpg">http://busstopped.appspot.com/static/img/gmarkers/bus_card.jpg</a>.
    <a href="{{ MEDIA_URL }}img/add_point_doc/8.jpeg"><img src="{{ MEDIA_URL }}img/add_point_doc/thumbs/8.jpeg" /></a>
    <li>Aceptar el cuadro de diálogo.</li>
    <li>Guardar las modificaciones del mapa haciendo click en el botón <b>Guardar</b> y luego <b>Listo</b>.</li>
    <a href="{{ MEDIA_URL }}img/add_point_doc/9.jpeg"><img src="{{ MEDIA_URL }}img/add_point_doc/thumbs/9.jpeg" /></a>
  </ol>
</div>
{% endblock %}
