{% extends "base.html" %}

{%block title %}Bus Stopped | Cambio entre versiones{% endblock %}

{% block content %}
<div id="content">
  <h2>CHANGE LOG: Cambio entre versiones</h2>
  <ul class="change-log">

    <li>
      <h3>revision: 11</h3>
      <span class="date-change-log">02/03/2011</span>
      <ul>
	<li>carga de datos (Paradas y Tiempos) mediante archivos .csv</li>
	<li>obtención de tiempo en los próximos 30 minutos para una parada determinada</li>
	<li>css y layout (free-css.com)</li>
      </ul>
    </li>

    <li>
      <h3>revision: 12</h3>
      <span class="date-change-log">02/03/2011</span>
      <ul>
	<li>más datos para los tiempos y las paradas</li>
	<li>página de FAQ y Change Log</li>
	<li>muestra el tiempo que falta para que pasen los próximos colectivos por la parada seleccionada</li>
	<li>favicon</li>
	<li>íconos de colectivos en vez de un signo de interrogación</li>
      </ul>
    </li>

    <li>
      <h3>revision: 13</h3>
      <span class="date-change-log">02/03/2011</span>
      <ul>
	<li>CSS y HTML valid!</li>
      </ul>
    </li>

    <li>
      <h3>revision: 15</h3>
      <span class="date-change-log">03/03/2011</span>
      <ul>
	<li>recorridos de los colectivos</li>
	<li>"sistema" (todo es un sistema: primera regla de la facultad) de noticias</li>
	<li>migración del código completo a <a href="http://www.tipfy.org/">TipFy</a></li>
	<li>agregados nuevos filtros de templates (de Django) para Jinja2</li>
      </ul>
    </li>

    <li>
      <h3>revision: 16</h3>
      <span class="date-change-log">04/03/2011</span>
      <ul>
	<li>formularios con wtforms</li>
	<li>oculta los InfoWindow cuando se muestra otro</li>
	<li>se puede intercalar entre las paradas de Ida y Vuelta</li>
	<li>filtros de template estilo django</li>
	<li>actualización de los modelos de datos</li>
	<li>información sobre los carteles en el popup</li>
	<li>horarios de IDA y VUELTA para los días HABILES, SABADOS y DOMINGOS en la Línea 6</li>
      </ul>
    </li>

    <li>
      <h3>revision: 17</h3>
      <span class="date-change-log">04/03/2011</span>
      <ul>
	<li>más horarios y paradas (línea 5)</li>
	<li>muestra las paradas de la línea que deseamos</li>
	<li>integración de los datos (csv) con Google Docs (de esta forma cualquiera puede colaborar con la subida de datos)</li>
	<li>scripts para facilitar el proceso "upload_data"</li>
	<li>el render del HTML InfoWindow (de los Marker) se hace en el servidor con Python</li>
	<li>actualización de la faq</li>
	<li>manejado el evento al cambiar de línea (muestra el que corresponde)</li>
	<li>recorridos inhabilitados (probablemente lo migre a otra sección o no sé; hay que pensar cómo hacer para que quede bien la Interfaz)</li>
      </ul>
    </li>

    <li>
      <h3>revision: 18</h3>
      <span class="date-change-log">05/03/2011</span>
      <ul>
	<li>más horarios y paradas (línea 1)</li>
	<li>al ingresar por primera vez se muestran las paradas seleccionadas por default</li>
	<li>agregado de Google Analytics</li>
	<li>mejorada la carga de datos. más práctica para el usuario</li>
      </ul>
    </li>

    <li>
      <h3>revision: 19</h3>
      <span class="date-change-log">06/03/2011</span>
      <ul>
	<li>más horarios y paradas (línea 11/21)</li>
	<li>si no encuentra un horario en los próximos minutos, intenta nuevamente con un rango más grande</li>
	<li>algunos bugfixes en general</li>
	<li>agregada la sección "Información Útil"</li>
      </ul>
    </li>


    <li>
      <h3>revision: 20</h3>
      <span class="date-change-log">06/03/2011</span>
      <ul>
	<li>bugfix con datetime.date.today() que no usaba el Time Zone y hacía problemas para calcular "Habiles", "Sabados" y "Domingos"</li>
	<li>agregado mi blog en la barra de navegación "Sobre Mi"</li>
	<li>bugfix en la sección Noticias (no se mostraban)</li>
	<li>horarios de la Línea 15</li>
	<li>agregado un logo temporal</li>
	<li>integración con facebook like button en el menu</li>
	<li>hipervínculos de las noticias arreglados</li>
	<li>muestra la dirección hacia la cuál se dirige el colectivo al final de la página (abajo del selector de paradas)</li>
      </ul>
    </li>

    <li>
      <h3>revision: 21</h3>
      <span class="date-change-log">08/03/2011</span>
      <ul>
	<li>títulos en las páginas</li>
	<li>agregados los horarios de los días hábiles para la línea 1 de Ida</li>
	<li>actualización de los horarios en general</li>
	<li>reinicio del contador de Facebook para poder vincularlo con la <a href="http://www.facebook.com/pages/Bus-Stopped/168263903224043">Página Oficial de Facebook</a></li>
      </ul>
    </li>

    <li>
      <h3>revision: 22</h3>
      <span class="date-change-log">09/03/2011</span>
      <ul>
        <li>checkbox para mostrar los recorridos</li>
	<li>recorridos de Ida y Vuelta para la Línea 5, 6 y 10</li>
	<li>meta tags para Facebook wall post</li>
	<li>parada de Oro Verde para la Linea 6 corregida</li>
	<li>cron para buscar noticias en los diarios y la página oficial de La Victoria SRL</li>
      </ul>
    </li>

    <li>
      <h3>revision: 23</h3>
      <span class="date-change-log">10/03/2011</span>
      <ul>
        <li>actualizado los carteles para la Línea 6 (no dice más "por PARACAO")</li>
	<li>corregido el <a href="https://github.com/humitos/bus-stopped/issues/#issue/16">issue #16 (Horarios después de las 00hs)</a></li>
	<li>agregada la historia del boleto urbano a la sección Información Útil (dos posts de Taringa!)</li>
	<li>resuelto el <a href="https://github.com/humitos/bus-stopped/issues/#issue/26">issue #26 (Superposición de Layers al mostrar recorridos)</a></li>
	<li>recorridos para la Línea 15 y 11-21</li>
	<li>horarios para la Línea 22 Bis</li>
      </ul>
    </li>

    <li>
      <h3>revision: 24</h3>
      <span class="date-change-log">16/03/2011</span>
      <ul>
        <li>actualizado los carteles para la Línea 6 (ahora dice "por PARACAO" de nuevo). <a href="https://github.com/humitos/bus-stopped/issues/#issue/40">issue #40</a></li>
	<li>se muestra "Hacia" (dónde va) en la ventan de información de cada control de horario</li>
	<li>actualizados los horarios de la Línea 5 (<a href="https://github.com/humitos/bus-stopped/issues/#issue/40">issue #40</a>)</li>
	<li>quité los recorridos de la Línea 6 porque ahora hay "Ramales" y eso todavía no está resuelto</li>
	<li>mejorado el motor de búsqueda de noticias en los diarios (<a href="https://github.com/humitos/bus-stopped/issues/#issue/42">issue #42</a> y <a href="https://github.com/humitos/bus-stopped/issues/#issue/41">issue #41</a>)</li>
      </ul>
    </li>

  </ul>
</div>
{% endblock %}
