	<h2>Menu</h2>
	<ul>
	  <li><a href="/news" title="Noticias">Noticias</a></li>
	  <li><a href="/addpoint" title="Agregar Puntos de Venta">Agregar Puntos de Venta</a></li>
	  <li><a href="/info" title="Información Útil y Links">Información Útil</a></li>
	  <li><a href="/faq" title="Preguntas Frecuentes">Preguntas Frecuentes</a></li>
	  <li><a href="/changelog" title="Cambios Entre Versiones">Historial de Cambios</a></li>
	  <li><a href="http://humitos.wordpress.com" title="Manuel Kaufmann (humitos)">Sobre mi</a></li>
	  <li><a href="https://github.com/humitos/bus-stopped/issues" title="Problemas Conocidos">Problemas Conocidos</a></li>
	  <li style="margin-left: 30px">
	      <iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2Fpages%2FBus-Stopped%2F168263903224043&amp;layout=button_count&amp;show_faces=true&amp;width=450&amp;action=like&amp;colorscheme=light&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:21px;"></iframe>
	  </li>
	</ul>
