<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title>{% block title %}Bus Stopped | Encontra tu parada!{% endblock %}</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">

    {% block extra_head %}{% endblock %}

  </head>
  <body{% block body_args %}{% endblock %}>
    <div id="container">
      <div id="header">
	<h1>
	  <a href="/">Bus Stopped | Encontra tu parada de colectivo</a>
	</h1>
      </div>
      <div id="wrapper">
        {% block content %}{% endblock %}
      </div>
      <div id="navigation">
	{% include "navigation.html" %}
      </div>
      <div id="extra">
	<h2>Noticias</h2>
	{% for n in news %}
	<p><a href="/news#{{ n.title|slugify }}">{{ n.date|date("%d/%m/%y") }}: <strong>{{ n.title }}</strong></a></p>
	<p>{{ n.text|truncatewords_html(25) }}</p>
	{% endfor %}
      </div>
      <div id="footer">
	{% include "footer.html" %}
      </div>
      <div id="w3c-icons">
          <a href="http://validator.w3.org/check?uri=referer">
            <img src="http://www.w3.org/Icons/valid-html401" alt="Valid HTML 4.01 Strict" style="border:0;" height="31" width="88">
          </a>
          <a href="http://code.google.com/intl/es/appengine/">
	    <img src="http://code.google.com/appengine/images/appengine-silver-120x30.gif" style="border:0;" alt="Con la tecnología de Google App Engine" />
	  </a>
          <a href="http://jigsaw.w3.org/css-validator/check/referer">
            <img style="border:0;width:88px;height:31px" src="http://jigsaw.w3.org/css-validator/images/vcss" alt="¡CSS Válido!" />
          </a>
      </div>
    </div>
  </body>
</html>
