{% extends "base.html" %}

{% block content %}
<div id="content">
  <h2>CHANGE LOG: Cambio entre versiones</h2>
  <ul class="chage-log">
    <li>
      <h3>revision: 11</h3>
      <span class="date-change-log">02/03/2011</span>
      <ul>
	<li>carga de datos (Paradas y Tiempos) mediante archivos .csv</li>
	<li>obtención de tiempo en los próximos 30 minutos para una parada determinada</li>
	<li>css y layout (free-css.com)</li>
      </ul>
    </li>
    <li>
      <h3>revision: 12</h3>
      <span class="date-change-log">02/03/2011</span>
      <ul>
	<li>más datos para los tiempos y las paradas</li>
	<li>página de FAQ y Change Log</li>
	<li>muestra el tiempo que falta para que pasen los próximos colectivos por la parada seleccionada</li>
	<li>favicon</li>
	<li>íconos de colectivos en vez de un signo de interrogación</li>
      </ul>
    </li>
    <li>
      <h3>revision: 13</h3>
      <span class="date-change-log">02/03/2011</span>
      <ul>
	<li>CSS y HTML valid!</li>
      </ul>
    </li>
    <li>
      <h3>revision: 14</h3>
      <span class="date-change-log">Not published yet!</span>
      <ul>
	<li>recorridos de los colectivos</li>
	<li>"sistema" (todo es un sistema: primera regla de la facultad) de noticias</li>
      </ul>
    </li>
  </ul>
</div>
{% endblock %}
