{% extends "base.html" %}

{% block body_args%} onload="initialize()"{% endblock %}

{% block content %}
    <div id="container">
      <div id="header">
	<h1>
	  <a href="http://busstopped.appspot.com">Bus Stopped | Encontra tu parada de colectivo</a>
	</h1>
      </div>
      <div id="wrapper">
	<div id="content">
	  <div id="map_canvas" style="width: 400; height: 406px;"></div>
	</div>
      </div>
      <div id="navigation">
	<h2>Menu</h2>
	<ul>
	  <li><a href="#" title="Preguntas Frecuentes">FAQ</a></li>
	  <li><a href="#" title="Manuel Kaufmann (humitos)">Sobre mi</a></li>
	</ul>
      </div>
      <div id="extra">
	<h2>Noticias</h2>
	<p>Miércoles 02/03/2011<br />
	  Estamos en <strong>alpha</strong>!
	  <p>Esta es la primera publicación de este sitio. Actualmente
	  no están cargadas todas las paaradas de colectivo ni todos
	  sus horarios; únicamente la <em>Línea 6</em> y las paradas
	  de <em>IDA</em> de su recorrido.</p>
	  <p>Haciendo click sobre cada uno de los íconos de
	  información se muestran los colectivos que pasan por ese
	  lugar en los próximos 30 minutos.<p>
	</p>
	<p><em>**Mandame un mail con sugerencias, errores y comentarios!</em></p>
      </div>
      <div id="footer">
	{% include "footer.html" %}
      </div>
    </div>
{% endblock %}