{% extends "base.html" %}

{%block title %}Bus Stopped | Información Útil{% endblock %}

{% block content %}
<div id="content">
  <h2>INFO: Información Útil</h2>
  <ul class="info">
    <li>
      <h3>Mapa de tránsito (Municipalidad de Paraná)</h3>
      <p>Información referente a obras que se están ejecutando en la Ciudad de Paraná indicando dónde hay cortes de tránsito o dificultadas para transitar.</p>
      <ul>
	<li>Link: <a href="http://www.parana.gov.ar/mapa/">http://www.parana.gov.ar/mapa/</a></li>
      </ul>
    </li>

    <li>
      <h3>Servicio de Transporte Urbano de Pasajeros (Municipalidad de Paraná)</h3>
      <p>Documentación con la frecuencia de las Líneas de Transporte Urbano.</p>
      <ul>
	<li>Link: <a href="http://www.parana.gov.ar/transporte.html">http://www.parana.gov.ar/transporte.html</a></li>
      </ul>
    </li>

    <li>
      <h3>La Victoria S.R.L.</h3>
      <p>Sitio Oficial de la empresa "La Victorial S.R.L" con sus horarios, recorridos de los colectivos y noticias.</p>
      <ul>
	<li>Link: <a href="http://www.lavictoriasrl.com.ar/">http://www.lavictoriasrl.com.ar/</a></li>
      </ul>
    </li>

  </ul>
</div>
{% endblock %}
